<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>KobartApp</title>

    <style>
        .form {
            text-align:center;
        }
        .form2 {
            text-align:center;
            list-style-position: inside;
        }
    </style>


</head>
<body>
    
    <div class="form">
    <h1>Kobart 요약</h1>
    <p>반갑습니다</p>
    </div>


    <div class="form2" stlye="padding-top: 50px">
        <ul style="line-height: 2em">
                <li>
                    <b>{{article.id}}</b>
                    <form action="http://localhost:8000/edit/update/" method="POST" id="summary">
                        {% csrf_token %}
                            <label for="summary_id">(1)</label>
                            <input type="hidden" name="idx" value="{{article.id}}">
                            <input type="text" id="summary_id" name="content" size="100" placeholder="수정 요약 문장을 입력하십시오." autocomplete="off">
                            <button type="submit" form="summary">입력</button>
                    </form>
                </li>
        </ul>
    </div>
</body>
</html>